#infoBox {
	text-indent: 1em;
	position: absolute;
	width: 35%;
	top: 2%;
	right: 2%;
	background: #023d6b;
	border: 1px solid white;
	border-radius: 10px;
	opacity: 0.8;
	max-width: 35%;
	max-height: 75%;
	display: block;
	align-self: right;
	padding: 2%;
	color: white;
	overflow-y: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5vw;
	word-break: break-word;
	text-align: break-all;
}

#infoBox strong {
	font-weight: bold;
}

#infoBox::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

#infoBox::-webkit-scrollbar-track {
	border: 1px solid CornflowerBlue;
	border-radius: 10px;
}

#infoBox::-webkit-scrollbar-thumb {
	background: CornflowerBlue;
	border-radius: 10px;
}

#infoBox::-webkit-scrollbar-thumb:hover {
	background: #93b3ed;
}

a {
	color: #ffb13d;
}

#showmoreCB:checked ~ .moretext {
	display: block;
}

input[id="showmoreCB"]:checked + .showmore::before {
	content: "Show less";
}

input[id="showmoreCB"]:not(:checked) + .showmore::before {
	content: "Show more ";
}

.moretext {
	display: none;
}

#showmoreCB {
	display: none;
}
.showmore {
	color: #ffb13d;
	font-style: italic;
	text-decoration: underline #ffb13d 2px;
	cursor: pointer;
}
